doctype html
html(ng-app="eaHelper")
  head
    title Officator - EA Restaurant Tool

    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //disable zooming capabilities
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset="utf-8")

    //Jquery JS and CSS
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
    crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet", href="https://code.jquery.com/ui/1.10.4/themes/black-tie/jquery-ui.css")
 
    //Bootstrap css
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous") 
    //Optional theme
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    //<!-- Angular Material style sheet -->
    link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")


    script(src="https://use.fontawesome.com/1079ce90fa.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")

    //Angular
    link(rel="stylesheet", href="lib/angularjs-slider/dist/rzslider.css")
    script(src='/lib/angular/angular.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js")
    script(src='/lib/angularjs-slider/dist/rzslider.js')  

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js")
    //-Angular Material Library 
    script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
    
    script(src='/application.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/scripts/index.js")

  body

    div.container-fluid(ng-controller="mainController")#toptop
      div.row

        //Views to change page shown
        div.col.col-sm-1.col-md-1.col-lg-1.col-sm-push-3#views
          
          div.page#map-view
            i.fa.fa-map(aria-hidden="true") 
            br 
            |Map
          div.page#list-view
            i.fa.fa-th-list(aria-hidden="true")
            br 
            |List Search
          div.page#add-view
            i.fa.fa-plus-circle(aria-hidden="true")
            br 
            |Add Location

        //Filters
        div.col.col-sm-3.col-md-3.col-lg-3.col-sm-pull-1#filters
          div#listFilters
              div.filter.searchFilter
                  md-input-container(class="md-block", flex-gt-sm)
                    label Order By
                    md-select( ng-model="listOrder", placeholder="Order By")
                      md-option(ng-repeat="ord in listOrderOptions", ng-value="ord")
                        {{ ord.name}}
              div.filter.searchFilter
                  md-input-container(flex-gt-sm, class="md-block md-input-has-placeholder")
                    //label Search for restaurant
                    label
                    input(ng-model="searchListText", ng-change="reduceRestaurantList()", placeholder="Search for restaurant")              
          div#filterscenter
              div#innerfilters
                div.filter#category
                  span Food Category
                  i.fa.fa-chevron-down(aria-hidden="true")
                div.dropdown(name="category")
                  //- cat options is a nameless array
                  span(ng-repeat="cat in catOptions  | orderBy : 'name' track by $index") 
                    | {{cat.name}} 
                    md-checkbox(ng-model="catOptions[$index].selected")


                div.filter#area
                  span Area
                  i.fa.fa-chevron-down(aria-hidden="true")
                div.dropdown(name="area")
                  span(ng-repeat="area in areaOptions | orderBy : 'name'") 
                    |{{area.name}} 
                    md-checkbox(ng-model="area.selected")

                div.filter#occasion
                  span Occasion
                  i.fa.fa-chevron-down(aria-hidden="true")
                div.dropdown(name="occasion")
                  span(ng-repeat="occ in occasionOptions | orderBy : 'name'") 
                    |{{occ.name}} 
                    md-checkbox( ng-model="occ.selected")

                div.filter#outdoor-seating
                  span Outdoor Seating
                  md-checkbox( ng-model="outdoor")          

                div.filter#price
                  span Max Price
                  div#priceOverlay
                    £&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; 5-20 
                    br 
                    br
                    ££&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; 20-50 
                    br
                    br
                    £££&nbsp;&nbsp; : &nbsp; 50+
                    span (pp)
                  rzslider#filterslider(rz-slider-model="prices_bar.value", rz-slider-options="prices_bar.options")
                
                div.filter#rating
                  span Your Min Average Rating 
                  rzslider#filterslider(rz-slider-model="ratings_bar.value", rz-slider-options="ratings_bar.options")

            

        //Main page activity
        div.col.col-sm-8.col-md-8.col-lg-8#mapContainer
          //List of restaurants
          div#list
            div#listItems
              div#listItem( ng-repeat="item in restaurantListReduce | orderBy :  returnOrderValue  track by $index ")
                div#titleList
                  h1 {{item.name}}
                  md-divider
                  span 
                    b {{item.address}}
                    br
                    a(href="https://{{item.website}}", target="_blank") {{item.website}}
                
                div#props
                  div#circlePercent(back-imglist="{{item.avgRating}}")
                    h4(ng-if="item.avgRating=='-'") {{item.avgRating}}
                    h4(ng-if="item.avgRating!='-'") {{item.avgRating  | number:1}}
                    div#circle
                  div#cuisines
                    span(ng-repeat="c in item.cuisine") 
                      {{c}}
                  div#priceList
                    {{item.price}}
                  div#occs
                    span(ng-repeat="occ in item.occasion") 
                      {{occ}}  
                     
                div#listButtons
                  //md-button(ng-click="showActionToast(item.name)") Delete  
                  md-button(ng-click="changeChosenRestaurant(item.name); toggleBtn('Info')" , onclick="popRestList('info')") View
                  md-button(ng-click="changeChosenRestaurant(item.name);toggleBtn('Edit')" , onclick="popRestList('edit')") Edit
                  md-button(ng-click="changeChosenRestaurant(item.name)" , onclick="popRestList('review')") Review
          
          //Map display
          div#map

          //Map overlay to enable click-off of pop-up menu
          div#mapOverlay

          //Submit new restaurant form
          //All fields are required
          div#submitContainer
            div#submit
              form(name="restaurantSubmissionForm")

                      div(layout="row", layout-wrap).legendpadding
                        | Restaurant Contact Details
                        legend

                      //Name new restaurant
                      div(layout="row", layout-wrap)
                        div(flex="100", flex-gt-sm="50", layout="column")                 
                          md-input-container.md-block
                            label Restaurant Name
                            input(required, type="text", name="name", ng-model="newRestaurant.name", minlength="5", md-maxlength="50")
                            div(ng-messages="restaurantSubmissionForm.name.$error")
                              div(ng-message="required")
                                | The restaurant name is required.
                              div(ng-message="minlength")
                                | Must be at least 5 characters long.
                              div(ng-message="md-maxlength")
                                | Must be less than 50 characters long.
                              //div(ng-message-exp="['required', 'md-minlength', 'md-maxlength']")
                                | The restaurant name must be between 5 and 50 characters long.

                        //Address new restaurant
                        div(flex="100", flex-gt-sm="50", layout="column")                        
                          md-input-container.md-block
                            label Restaurant Address
                            input(required, type="text", name="address", ng-model="newRestaurant.address", minlength="5", md-maxlength="100")

                            div(ng-messages="restaurantSubmissionForm.address.$error")
                              div(ng-message="required")
                                | The restaurant address is required.
                              div(ng-message="minlength")
                                | Must be at least 5 characters long.
                              div(ng-message="md-maxlength")
                                | Must be less than 100 characters long.          

                      //Website new restaurant
                      div(layout="row", layout-wrap)
                        div(flex="100", flex-gt-sm="50", layout="column") 
                          md-input-container.md-block
                            label Restaurant Website
                            input(required, type="text", name="website", ng-model="newRestaurant.website", md-maxlength="100")
                            //, ng-pattern="/^.+.+\..+.+\..+$/"
                            div(ng-messages="restaurantSubmissionForm.website.$error")
                              //div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                                | The restaurant website must be between 5 and 100 characters long.  
                              div(ng-message="required")
                                | The restaurant website is required.
                              div(ng-message="md-maxlength")
                                | Must be less than 100 characters long.
                              //div(ng-message="pattern")
                                | Must be a website format.
                        //Phone number new restaurant
                        div(flex="100", flex-gt-sm="50", layout="column")                     
                          md-input-container.md-block
                            label Restaurant Phone Number
                            input(required, type="text", name="phone", ng-model="newRestaurant.phone",ng-pattern="/^[0-9]+$/", minlength="11")
                            div(ng-messages="restaurantSubmissionForm.phone.$error")
                              div(ng-message="required")
                                | The restaurant phone number is required.
                              div(ng-message="minlength")
                                | Must be at least 11 numbers long.
                              div(ng-message="pattern")
                                | Must be numerical.  
                              //div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                                | The restaurant phone number must be 11 numbers long.  
                      br 
                      br
                      div(layout="row", layout-wrap).legendpadding
                        | Restaurant Type and Food
                        legend

                      //Area new restaurant
                      div(layout="row", layout-wrap)
                        div(flex="100", flex-gt-sm="33", layout="column")                                  
                          //chips showing all contents of new restaurant cuisine
                          md-input-container( class="md-block", flex-gt-sm).droppy
                            label Area
                            md-select( ng-model="newRestaurant.area", name="area",required).enter-detail
                              md-option(ng-repeat="item in areaOptions", ng-value="'{{item.name}}'")
                                {{ item.name}}
                            div(ng-messages="restaurantSubmissionForm.area.$error") 
                              //- /"newRestaurant.area.length==0"
                              div(ng-message="required") This field is required
                    
                        //Price new restaurant
                        div(flex="100", flex-gt-sm="33", layout="column")      
                          md-input-container( class="md-block", flex-gt-sm).droppy
                            label Price
                            md-select( ng-model="newRestaurant.price",name="price", required)
                              md-option(ng-repeat="item in priceOptions", ng-value="'{{item}}'")
                                {{ item}}  
                            div(ng-messages="restaurantSubmissionForm.price.$error")
                              div(ng-message="required") This field is required                        
                        //Outdoor Seating new restaurant
                        div(flex="100", flex-gt-sm="33", layout="column") 
                          md-input-container( class="md-block", flex-gt-sm).droppy
                            label Outdoor Seating
                            md-select( ng-model="newRestaurant.outdoorSeating", required, name="outdoor")
                              md-option(ng-repeat="item in outdoorSeatingOptions", ng-value="'{{item}}'")
                                {{ item}}  
                            div(ng-messages="restaurantSubmissionForm.outdoor.$error")
                              div(ng-message="required") This field is required  

                      //Occasions new restaurant
                      div(layout="row", layout-wrap)
                        div(flex="100", flex-gt-sm="50", layout="column").mdinputpadding
                            div
                              fieldset.standard(name="occasion", required)
                                div(layout="row", layout-wrap, flex)
                                  div( flex="50", ng-repeat="item in occasionOptions")
                                    md-checkbox( ng-checked="exists(item.name, newRestaurant.occasion)" ng-click="toggle(item.name, newRestaurant.occasion)", class="md-secondary")
                                    {{ item.name }} 
                              div(ng-show="newRestaurant.occasion.length==0").customError
                                | This field is required

                        //Cuisines new restaurant
                        div(flex="100", flex-gt-sm="50", layout="column").mdinputpadding
                            div
                              md-chips(ng-model="newRestaurant.cuisine", md-removable="true", ng-required="true", md-transform-chip="undefined", md-require-match="false", required, name="cuisines")
                                md-autocomplete(
                                md-autocomplete-snap, 
                                md-items="item in querySearch(searchText, 'cat')", 
                                md-item-text="item",
                                md-search-text="searchText",
                                placeholder="American/Curry...")

                                  md-item-template
                                    span(md-highlight-text="searchText")
                                    strong {{item}}

                                md-chip-template
                                  span
                                    strong {{$chip}} 
                              div(ng-show="newRestaurant.cuisine.length==0").customError
                                | This field is required
                              //div(class="md-chips-messages", ng-messages="restaurantSubmissionForm.cuisines.$error", ng-show="restaurantSubmissionForm.cuisines.$dirty || restaurantSubmissionForm.cuisines.$submitted")
                                div(ng-message="required") At least one cuisine is required

                              //div(ng-messages="restaurantSubmissionForm.cuisines.$error")
                                div(ng-message="required") This field is required                                 

                      br 
                      br 
                      //Your review and rating for the new restaurant
                      div(layout="row", layout-wrap).legendpadding
                        | Your Review and Rating
                        legend

                      div(layout="row", layout-wrap)
                        div(flex="100", flex-gt-sm="50", layout="column")                                                
                              md-input-container.md-block
                                label Your Restaurant Review
                                //ng-pattern="/^.+@.+\..+$/"
                                input(required, type="text", name="review", ng-model="newRestaurant.review", minlength="5", md-maxlength="200")
                                div(ng-messages="restaurantSubmissionForm.review.$error")
                                  div(ng-message="required")
                                    | The restaurant review is required.
                                  div(ng-message="minlength")
                                    | Must be at least 5 characters long.
                                  div(ng-message="md-maxlength")
                                    | Must be less than 200 characters long.  
                                  //div(ng-message-exp="['required', 'minlength', 'maxlength']")
                                    , 'pattern'
                                    | The restaurant review must be between 5 and 200 characters long.
                          
                        div(flex="100", flex-gt-sm="50", layout="column")
                                 
                              div.ratingSliderContainer
                              
                                rzslider.ratingslider(rz-slider-model="restaurantRatingSlider.value", rz-slider-options="restaurantRatingSlider.options")
                      div(flex="100", layout="column", style="position:relative")
                        div
                          md-button(type="submit",ng-click="submitRestaurant()",name="submitFormBtn",  ng-disabled="restaurantSubmissionForm.$invalid || newRestaurant.cuisine.length==0 || newRestaurant.occasion.length==0")#mainSubmit
                            | Submit
                        | {{chosenRestaurantSubmitResult}}

          //Restaurant Information pop up
          //Display when map markers clicked and restaurant list items clicked  
          //Shows information, allows editing, see and add new reviews/ratings        
          div#restaurantPopUp
            
            span#popHeader
                h1 {{chosenRestaurant.name}}
                div#reviewEdit
                  //i.fa.fa-star(aria-hidden="true")
                  | Review
                #editEdit(ng-click="toggleBtn('Edit')")
                  | Edit

                div#infoEdit(ng-click="toggleBtn('Info')")
                  | View
                  //i.fa.fa-info(aria-hidden="true")
                //i#editEdit.fa.fa-pencil-square(aria-hidden="true", ng-click="toggleBtn('Edit')")

            
            //div#topborder
            
            //Doubles as restaurant info and edit
            //Displayed as form: disabled/ non disabled      
            div#restaurantEdit
              form#restaurantEditForm(name="restaurantEditForm").scrollStyled
                          div(layout="row", layout-wrap).legendpadding
                            | Restaurant Contact Details
                            legend
                          md-input-container.md-block
                            label Restaurant Address
                            input(required, ng-disabled="editRestaurantFlag", type="text", name="address", ng-model="editRestaurant.address", minlength="5", md-maxlength="200")
                            div(ng-messages="restaurantEditForm.address.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="minlength")
                                | Must be at least 5 characters long.
                              div(ng-message="required")
                                | The restaurant address is required.
                              div(ng-message="md-maxlength")
                                | Must be less than 200 characters long.
                              //div(ng-message-exp="['required', 'minlength', 'maxlength']")
                                | The restaurant address must be between 5 and 200 characters long.

                          md-input-container.md-block
                            label Restaurant Website
                            input(ng-disabled="editRestaurantFlag",required, type="text", name="website", ng-model="editRestaurant.website", minlength="5", md-maxlength="100")
                            div(ng-messages="restaurantEditForm.website.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="minlength")
                                | Must be at least 5 characters long.
                              div(ng-message="required")
                                | The restaurant website is required.
                              div(ng-message="md-maxlength")
                                | Must be less than 100 characters long.

                          md-input-container.md-block
                            label Restaurant Phone Number
                            input(ng-disabled="editRestaurantFlag", required, type="text", name="phone",ng-pattern="/^[0-9]+$/", ng-model="editRestaurant.phone", minlength="11", md-maxlength="11")
                            div(ng-messages="restaurantEditForm.phone.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="minlength")
                                | Must be 11 numbers long.
                              div(ng-message="required")
                                | The restaurant website is required.
                              div(ng-message="pattern")
                                | Must be numerical.
                              //div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                                | The restaurant phone number must be 11 numbers long.

                          div(layout="row", layout-wrap).legendpadding
                            | Restaurant Type and Food
                            legend
                          md-input-container(class="md-block")
                            label Area
                            md-select(ng-disabled="editRestaurantFlag", ng-model="editRestaurant.area", required, name="area")
                              md-option(ng-repeat="item in areaOptions", ng-value="'{{item.name}}'")
                                {{ item.name}} 
                            div(ng-messages="restaurantEditForm.area.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="required") This field is required  

                          md-input-container(class="md-block", flex-gt-sm)
                            label Price
                            md-select(ng-disabled="editRestaurantFlag", ng-model="editRestaurant.price", required, name="price")
                              md-option(ng-repeat="item in priceOptions", ng-value="'{{item}}'")
                                {{ item}}  
                            div(ng-messages="restaurantEditForm.price.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="required") This field is required  

                          md-input-container(class="md-block")
                            label Outdoor Seating
                            md-select(ng-disabled="editRestaurantFlag", ng-model="editRestaurant.outdoorSeating", required, name="outdoor")
                              md-option(ng-repeat="item in outdoorSeatingOptions", ng-value="'{{item}}'")
                                {{ item}} 
                            div(ng-messages="restaurantEditForm.outdoor.$error", ng-show="!editRestaurantFlag")
                              div(ng-message="required") This field is required  

                          fieldset.standard
                                //legend Occasions
                                div(layout="row", layout-wrap, flex)
                                  div( flex="50", ng-repeat="item in occasionOptions")
                                    md-checkbox(ng-disabled="editRestaurantFlag", class="md-secondary",  ng-checked="exists(item.name, editRestaurant.occasion)", ng-click="toggle(item.name, editRestaurant.occasion)")
                                    {{ item.name }} 
                                  div(ng-messages="editRestaurant.occasion.length==0", ng-show="editRestaurant.occasion.length==0")
                                    div(ng-message="required") This field is required
                                div(ng-show="editRestaurant.occasion.length==0 && !editRestaurantFlag").customError
                                  | This field is required

                          md-chips(ng-disabled="editRestaurantFlag", ng-model="editRestaurant.cuisine", md-removable="!editRestaurantFlag",
                          md-transform-chip="undefined", md-require-match="false")
                            //- transformChip($chip)
                            md-autocomplete(
                              ng-disabled="editRestaurantFlag",
                            md-autocomplete-snap, 
                            md-items="item in querySearch(searchText, 'cat')", 
                            md-item-text="item",
                            md-search-text="searchText",
                            placeholder="American/Curry...")
                              md-item-template
                                span(md-highlight-text="searchText")
                                {{item}}
                            md-chip-template
                              span
                                {{$chip}}  
                          div(ng-show="editRestaurant.cuisine.length==0 && !editRestaurantFlag").customError
                            | This field is required
                            //div(ng-messages="editRestaurant.cuisine.length==0")
                              div(ng-message="required") This field is required                  

                div(flex="100", layout="column", style="position:relative", ng-if="!editRestaurantFlag")
                  md-button#mainSubmit(type="submit",ng-click="editSubmitRestaurant()", ng-disabled="restaurantEditForm.$invalid || editRestaurant.cuisine.length==0 || editRestaurant.occasion.length==0")
                    | Submit
                  | {{chosenRestaurantEditSubmitResult}}

            //Displays current review for restaurant and allows adding of new review
            div#reviews

              div(layout="row", layout-wrap).legendpadding
                | Current Reviews
                legend

              .currentReviews.scrollStyled
                div(ng-if="chosenRestaurant.review.length==0")
                  | No reviews exist
                div(ng-repeat="rev in chosenRestaurant.review  track by $index") {{rev}}
              br
              br
              div(layout="row", layout-wrap).legendpadding
                | Add Your Review And Rating
                legend


              .addReview
                  form(name="restaurantReviewForm")
                          md-input-container.md-block
                                label Your Restaurant Review
                                input(required, type="text", name="review", ng-model="newReview", minlength="5", md-maxlength="200")
                                div(ng-messages="restaurantReviewForm.review.$error")
                                  div(ng-message="minlength")
                                    | Must be at least 5 characters long.
                                  div(ng-message="required")
                                    | The restaurant review is required.
                                  div(ng-message="md-maxlength")
                                    | Must be less than 200 characters long.
                                  //div(ng-message-exp="['required', 'minlength', 'maxlength']")
                                    | The restaurant review must be between 5 and 200 characters long.
                          
                          div.ratingSliderContainer
                            rzslider.ratingslider(rz-slider-model="restaurantReviewSlider.value", rz-slider-options="restaurantReviewSlider.options")
                  
                  div( style="position:relative") 
                      md-button#mainSubmit(type="submit", ng-click="submitRestaurantReview()",  ng-disabled="restaurantReviewForm.review.$invalid")
                        |Submit  
                  |{{reviewSubmitResult}}  

            //Ratings dial, positioned absolutely, shows restaurant current avg rating                  
            //circlePercent class creates half cover 
            //circlePercent id can either cover that, or the other half.            
            div#circlePercent(back-img="{{avgRatingPercent}}")
              //( style="{{avgRatingPercent2}}")
              h4(ng-if="chosenRestaurant.avgRating=='-'") {{chosenRestaurant.avgRating}}
              h4(ng-if="chosenRestaurant.avgRating!='-'") {{chosenRestaurant.avgRating  | number:1}}
              div#circle

    script(async, defer, type="text/javascript",
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADp-Jxh-mAwZfWqI8bGvF25t8glrMhpRk&callback=initMap")