-var prices=['£', '££', '£££']
-var ratings=["1","2","3","4", "5"]


doctype html
html(ng-app="eaHelper")
  head
    //title= title
    title   Officator - EA Restaurant Tool

    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //disable zooming capabilities
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset="utf-8")

    //Jquery JS and CSS
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
    crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet", href="https://code.jquery.com/ui/1.10.4/themes/black-tie/jquery-ui.css")
 
    //Bootstrap css
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous") 
    //Optional theme
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    <!-- Angular Material style sheet -->
    link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")


    script(src="https://use.fontawesome.com/1079ce90fa.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    
     //Angular
    link(rel="stylesheet", href="lib/angularjs-slider/dist/rzslider.css")
    script(src='/lib/angular/angular.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js")
    script(src='/lib/angularjs-slider/dist/rzslider.js')  

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
    //-Angular Material Library 
    script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
    
    script(src='/application.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/scripts/index.js")

  body
    //Menu Top Bar
    div.container-fluid
      div.row.justify-content-between
    
    //Filters and Map(Main activity)
    div.container-fluid(ng-controller="mainController")
      div.row
        //Filters
        div.col.col-sm-3.col-md-3.col-lg-3#filters
          div#innerfilters
            div.filter#category
              span Food Category
              i.fa.fa-chevron-down(aria-hidden="true")
            div.dropdown(name="category")
              //- cat options is a nameless array
              span(ng-repeat="cat in catOptions  | orderBy : 'name' track by $index") 
                | {{cat.name}} 
                //{{cat.selected}}
                input(type="checkbox",  ng-model="catOptions[$index].selected")
                  
                //each restaurant in restaurantlist
                  span= restaurant.name

            div.filter#area
              span Area
              i.fa.fa-chevron-down(aria-hidden="true")
            div.dropdown(name="area")
              span(ng-repeat="area in areaOptions | orderBy : 'name'") 
                |{{area.name}} 
                // {{area.selected}}
                input(type="checkbox", ng-model="area.selected")
              //each restaurant in restaurantlist
                span= restaurant.area

            div.filter#occasion
              span Occasion
              i.fa.fa-chevron-down(aria-hidden="true")
            div.dropdown(name="occasion")
              span(ng-repeat="occ in occasionOptions | orderBy : 'name'") 
                |{{occ.name}} 
                input(type="checkbox", ng-model="occ.selected")

            div.filter#outdoor-seating
              span Outdoor Seating
              input(type="checkbox" ng-model="outdoor")          

            div.filter#price
              span Max Price
              //each val in prices
                div.point(name=val)
              //div.ball
              rzslider#filterslider(rz-slider-model="prices_bar.value", rz-slider-options="prices_bar.options")
            
            div.filter#rating
              span Min Average Rating 
              //each val in ratings
                div.point(name=val)
              //div.ball
              rzslider#filterslider(rz-slider-model="ratings_bar.value", rz-slider-options="ratings_bar.options")

          
        //Views to change page shown
        div.col.col-sm-1.col-md-1.col-lg-1#views
          div.page#map-view
            i.fa.fa-map(aria-hidden="true") 
            br 
            |Map
          div.page#list-view
            i.fa.fa-th-list(aria-hidden="true")
            br 
            |List
          div.page#add-view
            i.fa.fa-plus-circle(aria-hidden="true")
            br 
            |Add Location
      
        md-content.col.col-sm-8.col-md-8.col-lg-8#mapContainer
          md-content#list
            h3 
              b Search for Restaurant
            div#listControls
              md-input-container.md-block(flex-gt-sm)
                label Order By
                md-select(ng-model="listOrder")
                  md-option(ng-repeat="ord in listOrderOptions", value="{{ord.code}}")
                    {{ord.name}}
            md-content#listItems
              md-card(md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}", md-theme-watch, ng-repeat="item in restaurantList | orderBy :  listOrder track by $index ")
                md-card-title
                md-card-title-text
                  span.md-headline {{item.name}}  
                  
                  span.md-subhead {{item.address}}
                //<img ng-src="{{imagePath}}" class="md-card-image"
                md-card-title-media
                  div.md-media-sm.card-media

                md-card-actions(layout="row", layout-align="end center")
                  md-button Delete
                  md-button Edit
                  md-button Review



          div#map
          div#submitContainer
            div#submit
              h3 
                b Enter Restaurant Details
              //var restQualities=["address", "name", "cuisine", "outdoor seating", "website", "reviews", "avgRating", "price"];
              
              //Name
              form(name="restaurantSubmissionForm")
                table
                  tr
                    td Name:*
                    td
                      .input-group#enter-name
                        input(type="text", class="form-control", name="name",placeholder="Restaurant Name", aria-describedby="Restaurant Name", ng-model="newRestaurant.name" required min-length)
                      span(ng-show="restaurantSubmissionForm.name.$touched && restaurantSubmissionForm.name.$invalid")
                        | A restaurant name is required to be at least 2 chars.
                      span(ng-show="restaurantSubmissionForm.name.$minLength")
                        | Length of name must be above 2 chars
                      span(ng-show="restaurantSubmissionForm.name.minLength")
                        | Length of name must be above 2 chars
                      span(ng-show="restaurantSubmissionForm.name.min-length")
                        | Length of name must be above 2 chars
                
                  tr
                    td Address:*
                    td
                      //Address
                      .input-group#enter-address
                        input(type="text",name="address" class="form-control",placeholder="Restaurant Address", aria-describedby="Restaurant Address", ng-model="newRestaurant.address" required min-length)
                      span(ng-show="restaurantSubmissionForm.address.$touched && restaurantSubmissionForm.address.$invalid")
                        | A restaurant address is required to be at least 2 chars.                
                  
                  tr  
                    //Website  
                    td Website:
                    td
                      div.input-group
                        span.input-group-addon#restaurant-website https://www.
                        input.form-control#websiteSelect( aria-describedby="Select-a-website", placeholder="Restauarant Website", ng-model="newRestaurant.website" type="text")    
                
                  tr
                    td Area:
                    td    
                  
                      //chips showing all contents of new restaurant cuisine
                      md-chips(ng-model="newRestaurantArea", md-removable="true",
                      md-transform-chip="undefined", md-require-match="false", md-max-chips="1")
                        //- transformChip($chip)
                        md-autocomplete(
                        md-autocomplete-snap, 
                        md-items="item in querySearch(searchText, 'area')", 
                        md-item-text="item",
                        md-search-text="searchText",
                        placeholder="Covent Garden, Soho...")
                          md-item-template
                            span(md-highlight-text="searchText")
                            strong {{item}}
                        md-chip-template
                          span
                            strong {{$chip}}  
                
                  tr    
                    td Price:
                    //Price
                    td
                      div.btn-group(data-toggle="buttons")
                        label.btn.btn-primary(ng-repeat="opt in priceOptions", ng-click="newRestaurant.price=opt")
                          input(type="radio", id="{{opt}}", ng-value="'{{opt}}'",  name="price")
                          {{opt}}                      
                
                  tr
                    //Outdoor Seating
                    td Outdoor Seating:
                    td
                      div.btn-group(data-toggle="buttons", id="outdoorSelect")
                        label.btn.btn-primary(ng-repeat="opt in outdoorSeatingOptions", ng-click="newRestaurant.outdoorSeating=opt")
                          input(type="radio", ng-model="newRestaurant.outdoorSeating", id="{{opt}}",  ng-value="'{{opt}}'",  name="outdoor")
                          | {{opt}}

                  tr
                    td Categories:
                    td    
                  
                      //chips showing all contents of new restaurant cuisine
                      md-chips(ng-model="newRestaurant.cuisine", md-removable="true",
                      md-transform-chip="undefined", md-require-match="false")
                        //- transformChip($chip)
                        md-autocomplete(
                        md-autocomplete-snap, 
                        md-items="item in querySearch(searchText, 'cat')", 
                        md-item-text="item",
                        md-search-text="searchText",
                        placeholder="American/Curry...")
                          md-item-template
                            span(md-highlight-text="searchText")
                            strong {{item}}
                        md-chip-template
                          span
                            strong {{$chip}}   
                  tr
                    td Occasions:
                    td    
                      //chips showing all contents of new restaurant ocassion
                      md-chips(ng-model="newRestaurant.occasion", md-removable="true",
                      md-transform-chip="undefined", md-require-match="false")
                        //- transformChip($chip)
                        md-autocomplete(
                        md-autocomplete-snap, 
                        md-items="item in querySearch(searchText, 'occ')", 
                        md-item-text="item",
                        md-search-text="searchText",
                        placeholder="Lunch/Dinner...")
                          md-item-template
                            span(md-highlight-text="searchText")
                            strong {{item}}
                        md-chip-template
                          span
                            strong {{$chip}}   
                  tr
                    td Review:
                    td
                      .input-group#enter-review
                        input(type="text", class="form-control",placeholder="Review", aria-describedby="Restaurant Address" ng-model="newRestaurantReview")                
                  tr
                    td Rating: 
                      
                    td#ratingSliderContainer 
                      br
                      rzslider#ratingslider(rz-slider-model="restaurantRatingSlider.value", rz-slider-options="restaurantRatingSlider.options")
                      label#ratingOpinion No Opinion
                          input(type="checkbox", ng-model="restaurantRatingSlider.options.disabled")

                  tr
                    td
                    td
                      // || newRestaurant.price==null restaurantSubmissionForm.name.$invalid  restaurantSubmissionForm.name.$minLength|| restaurantSubmissionForm.price.$error.required , ng-disabled="restaurantSubmissionForm.$invalid "
                      //restaurantSubmissionForm.$invalid not functional due to angular materials fault
                      button.btn.btn-primary#mainSubmit(ng-click="submitRestaurant()", name="submitFormBtn",  ng-disabled="restaurantSubmissionForm.address.$invalid || restaurantSubmissionForm.name.$invalid")
                        |Submit  
                      | {{chosenRestaurantSubmitResult}}
                      
          div#restaurantPopUp
            div#btns
              span#infoBtn Info
              span#reviewsBtn Reviews
              span#editBtn(ng-click="editRestaurantFill()") Edit
            h3 {{chosenRestaurant.name}}
            //Information about chosen restaurant
            div#restaurantInfo
              table
                tr
                  td Address:
                  td {{chosenRestaurant.address}}
                tr 
                  td Cuisine:
                  td
                    span(ng-repeat="c in chosenRestaurant.cuisine") {{c}} 
                tr
                  td Outdoor Seating:
                  td {{chosenRestaurant.outdoorSeating}}
                tr 
                  td Occasion:
                  td
                    span(ng-repeat="occ in chosenRestaurant.occasion") {{occ}} 
                tr 
                  td Website:
                  td 
                    span(ng-if="chosenRestaurant.website == '-'") {{chosenRestaurant.website}}
                    span(ng-if="chosenRestaurant.website != '-'")
                      a( href='https://www.{{chosenRestaurant.website}}') https://www.{{chosenRestaurant.website }}
                    
                tr 
                  td Price:
                  td {{chosenRestaurant.price}}  
            //Edit options for chosen restaurant         
            div#restaurantEdit
              form#restaurantEditForm(name="restaurantEditForm")
                table
                  tr
                    td Address:
                    td 
                      input(type="text",  ng-model="editRestaurant.address", name="address", required, min-length)
                  tr 
                    td Cuisine:
                    td
                      md-chips(ng-model="editRestaurant.cuisine", md-removable="true",
                      md-transform-chip="undefined", md-require-match="false")
                        //- transformChip($chip)
                        md-autocomplete(
                        md-autocomplete-snap, 
                        md-items="item in querySearch(searchText, 'cat')", 
                        md-item-text="item",
                        md-search-text="searchText",
                        placeholder="American/Curry...")
                          md-item-template
                            span(md-highlight-text="searchText")
                            {{item}}
                        md-chip-template
                          span
                            {{$chip}}                    
                  tr
                    td Outdoor Seating:
                    td
                      div.btn-group(data-toggle="buttons")
                        label.btn.btn-primary(ng-repeat="opt in outdoorSeatingOptions", ng-click="editRestaurant.outdoorSeating=opt")
                          input(type="radio",id="{{opt}}", ng-value="'{{opt}}'", name="price")
                          | {{opt}} 
                  tr 
                    td Occasions:
                    td
                      //chips showing all contents of new restaurant ocassion
                      md-chips(ng-model="editRestaurant.occasion", md-removable="true",
                      md-transform-chip="undefined", md-require-match="false")
                        //- transformChip($chip)
                        md-autocomplete(
                        md-autocomplete-snap, 
                        md-items="item in querySearch(searchText, 'occ')", 
                        md-item-text="item",
                        md-search-text="searchText",
                        placeholder="Lunch/Dinner...")
                          md-item-template
                            span(md-highlight-text="searchText")
                            {{item}}
                        md-chip-template
                          span
                            {{$chip}}                                           
                  tr 
                    td Website:
                    td 
                      input(type="text",  ng-model="editRestaurant.website")
                  tr 
                    td Price:
                    td
                      div.btn-group(data-toggle="buttons")
                        label.btn.btn-primary(ng-repeat="opt in priceOptions", ng-click="editRestaurant.price=opt")
                          input(type="radio",id="{{opt}}", ng-value="'{{opt}}'", name="price")
                          | {{opt}} 

                  tr 
                    td
                    td
                      button.btn.btn-primary#mainEditSubmit(ng-click="editSubmitRestaurant()",  ng-disabled="restaurantEditForm.address.$invalid || restaurantEditForm.name.$invalid")
                        |Submit  
                | {{chosenRestaurantEditSubmitResult}}

            div#reviews
              span.title 
                  b Reviews
              .currentReviews
                
                div(ng-repeat="rev in chosenRestaurant.review  track by $index") {{rev}}
              span.title 
                    b Add Review
              .addReview
                  form(name="restaurantReviewForm")
                    table 
                      tr 
                        td Review:
                        td
                          input(type="text",  ng-model="newReview", min-length, name="review", required)
                      tr 
                        td Rating:
                        td
                          rzslider#ratingslider(rz-slider-model="restaurantReviewSlider.value", rz-slider-options="restaurantReviewSlider.options")

                      tr 
                        td 
                        td 
                          button.btn.btn-primary#mainEditSubmit(ng-click="submitRestaurantReview()",  ng-disabled="restaurantReviewForm.review.$invalid")
                            |Submit  
                          | {{reviewSubmitResult}}       
            //circlePercent class creates half cover 
            //circlePercent id can either cover that, or the other half.            
            div#circlePercent.circlePercent(back-img="{{avgRatingPercent}}")
              //( style="{{avgRatingPercent2}}")
              h4(ng-if="chosenRestaurant.avgRating=='-'") {{chosenRestaurant.avgRating}}
              h4(ng-if="chosenRestaurant.avgRating!='-'") {{chosenRestaurant.avgRating  | number:1}}
              div#circle
              
              
                
           
              



    
    script(async, defer, type="text/javascript",
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADp-Jxh-mAwZfWqI8bGvF25t8glrMhpRk&callback=initMap")

    
    // block content


